##LA DATASET CLEANING

In [ ]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.22.2-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 7.1 MB/s
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.2-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 10.4 MB/s
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.0-py3-none-any.whl (23 kB)
Collecting botocore<1.26.0,>=1.25.2
  Downloading botocore-1.25.2-py3-none-any.whl (8.7 MB)
     |████████████████████████████████| 8.7 MB 49.2 MB/s
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 50.0 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.26.0,>=1.25.2->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.26.0,>=1.25.2->boto3) (1.15.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.9 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed boto3-1.22.2 botocore-1.25.2 jmespath-1.0.0 s3transfer-0.5.2 urllib3-1.26.9

In [ ]:
import boto3
BUCKET_NAME='crimes-input-bucket'
# enter authentication credentials
s3 = boto3.client('s3', aws_access_key_id = 'AKIAQDP7YLM325XD5ITG', 
                          aws_secret_access_key= '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')

In [ ]:
# Output the bucket names
response = s3.list_buckets()

print('Existing buckets:')
for bucket in response['Buckets']:
    print(f'  {bucket["Name"]}')

Existing buckets:
  aws-glue-assets-007515691831-us-east-1
  crimes-input-bucket
  crimes-output-bucket
  etljobbucket

In [ ]:
!pip install botocore

Requirement already satisfied: botocore in /usr/local/lib/python3.7/dist-packages (1.25.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore) (1.26.9)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from botocore) (1.0.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.15.0)

In [ ]:
from botocore.exceptions import ClientError

try:
  s3.download_file('crimes-input-bucket', 'LA_Crime_Data_2020._To_Present.csv', 'LA_Crime_Data_2020._To_Present.csv')
  s3.download_file('crimes-input-bucket', 'LA Crime_Data_from_2010_to_2019.csv', 'LA Crime_Data_from_2010_to_2019.csv')  
  print('success') 
except ClientError as e:
  if e.response['Error']['Code'] == "404":
    print("The object does not exist.")
  else:
    raise

success

In [ ]:
import pandas as pd
laPresentdf=pd.read_csv('LA_Crime_Data_2020._To_Present.csv');
laTill2019df=pd.read_csv('LA Crime_Data_from_2010_to_2019.csv');

# New Section

In [ ]:
la_crime_df = pd.concat(
    map(pd.read_csv, ['LA_Crime_Data_2020._To_Present.csv', 'LA Crime_Data_from_2010_to_2019.csv']), ignore_index=True)
print('LA crime records from 2020 to Present',laPresentdf.shape)
print('LA crime records from 2010 to 2019',laTill2019df.shape)
print('Total LA crime records ',la_crime_df.shape)
la_crime_df.to_csv("LA Crime_Data.csv")

LA crime records from 2020 to Present (458547, 28)
LA crime records from 2010 to 2019 (2114699, 28)
Total LA crime records  (2573246, 29)

In [ ]:
la_crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,AREA
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3.0,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,NaN
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1.0,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,NaN
2,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15.0,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,NaN
3,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19.0,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,NaN
4,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1.0,Central,163,1,121,"RAPE, FORCIBLE",...,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534,NaN

In [ ]:
la_crime_df.drop(['AREA '],axis =1, inplace=True)

In [ ]:
len(la_crime_df)

2573246

In [ ]:
#drop duplicate rows
la_crime_df.drop_duplicates(subset=None, inplace=True)
print('Total LA crime records ',la_crime_df.shape)

Total LA crime records  (2573246, 28)

In [ ]:
#rechecking for duplicate rows
Dup_Rows = la_crime_df[la_crime_df.duplicated()]
print("\n\nDuplicate Rows : \n {}".format(Dup_Rows))

Duplicate Rows :
 Empty DataFrame
Columns: [DR_NO, Date Rptd, DATE OCC, TIME OCC, AREA, AREA NAME, Rpt Dist No, Part 1-2, Crm Cd, Crm Cd Desc, Mocodes, Vict Age, Vict Sex, Vict Descent, Premis Cd, Premis Desc, Weapon Used Cd, Weapon Desc, Status, Status Desc, Crm Cd 1, Crm Cd 2, Crm Cd 3, Crm Cd 4, LOCATION, Cross Street, LAT, LON]
Index: []

[0 rows x 28 columns]

In [ ]:
la_crime_df.drop(columns=['AREA NAME','Rpt Dist No','Part 1-2','Crm Cd','Premis Cd','Vict Descent','Vict Sex','Vict Age','Mocodes','Status Desc','Status','Crm Cd 1','Crm Cd 2','Crm Cd 3','Crm Cd 4','Cross Street', 'Weapon Used Cd','Weapon Desc',], inplace=True)

In [ ]:
len(la_crime_df)

2573246

In [ ]:
la_crime_df.isnull().sum()/len(la_crime_df)*100

DR_NO           0.000000
Date Rptd       0.000000
DATE OCC        0.000000
TIME OCC        0.000000
AREA           82.180211
Crm Cd Desc     0.000000
Premis Desc     0.015001
LOCATION        0.000000
LAT             0.000000
LON             0.000000
dtype: float64

In [ ]:
la_crime_df ['LOCATION'].value_counts()

6TH                          ST             5537
7TH                          ST             4562
9300    TAMPA                        AV     4077
6TH                                         3953
7TH                                         3740
                                            ...
EXPOSITION P                 DR                1
5400    HUNTINGTON D                           1
1100    VALLEY SPRING                LN        1
16300 W  SUNSET                       BL       1
4500    ALAMEDA                                1
Name: LOCATION, Length: 80754, dtype: int64

In [ ]:
#Removing the gap from location string.
la_crime_df['LOCATION'] = la_crime_df['LOCATION'].str.replace(' +', ' ').str.strip()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
la_crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,Crm Cd Desc,Premis Desc,LOCATION,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3.0,BATTERY - SIMPLE ASSAULT,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1.0,BATTERY - SIMPLE ASSAULT,SIDEWALK,700 S HILL ST,34.0459,-118.2545
2,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15.0,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019
3,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19.0,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468
4,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1.0,"RAPE, FORCIBLE",NIGHT CLUB (OPEN EVENINGS ONLY),700 S BROADWAY,34.0452,-118.2534

In [ ]:
#Rename column names to sync with chicago dataset
la_crime_df.rename(columns = {'Crm Cd Desc' :'Crime Description','DATE OCC':'Date Incident Occured','LAT':'Latitude','LON':'Longitude','Premis Desc':'Location Description','LOCATION':'Block'}, inplace = True)

In [ ]:
la_crime_df.rename(columns = {'TIME OCC':'Time'},inplace = True)

In [ ]:
#Dropped uncommon and irrelevant columns
del la_crime_df['Date Rptd']
del la_crime_df['DR_NO']

In [ ]:
#added a column called city
la_crime_df['City'] = "Los Angeles"

Changing The format of Date incident occured column and appending it with time occ column

In [ ]:
la_crime_df['Date Incident Occured'].head()

0    01/08/2020 12:00:00 AM
1    01/01/2020 12:00:00 AM
2    01/01/2020 12:00:00 AM
3    01/01/2020 12:00:00 AM
4    01/01/2020 12:00:00 AM
Name: Date Incident Occured, dtype: object

In [ ]:
#selecting only the time and getting different values of it
la_crime_df['Date Incident Occured'].str[-8:].value_counts()

00:00 AM    2573246
Name: Date Incident Occured, dtype: int64

In [ ]:
#only keeping the data of date and reving time as it does not have any significance
la_crime_df['Date Incident Occured']=la_crime_df['Date Incident Occured'].str[:10]

In [ ]:
#we are going to bring the date format to the appropriate one for databases: YYYY-MM-DD
la_crime_df['Date Incident Occured'] = pd.to_datetime(la_crime_df['Date Incident Occured'])

In [ ]:
la_crime_df['Date Incident Occured'].sample(5)

1223848   2013-03-24
391658    2021-05-29
1916925   2017-07-01
2250036   2018-11-12
2526002   2019-10-23
Name: Date Incident Occured, dtype: datetime64[ns]

In [ ]:
#transform the column to datatype string because it was integer
la_crime_df['Time'] = la_crime_df['Time'].astype(str)

In [ ]:
#Then we add '00' in front of every date (because the rows with time occured at 12AM
# have no values for hours
la_crime_df['Time']= '00'+la_crime_df['Time']

In [ ]:
#selecting thr right string characters
la_crime_df['Time'] = la_crime_df['Time'].str[-4:-2] + ':' +la_crime_df['Time'].str[-2:]

In [ ]:
#Appending the date and time columns and changing the datatype of date column to datetime
la_crime_df['Date Incident Occured'] = la_crime_df['Date Incident Occured'].astype(str) +' ' + la_crime_df['Time']
la_crime_df['Date Incident Occured'] = pd.to_datetime(la_crime_df['Date Incident Occured'])

In [ ]:
#drop time occ column
la_crime_df = la_crime_df.drop(['Time'], axis=1)

In [ ]:
la_crime_df.head()

,Date Incident Occured,AREA,Crime Description,Location Description,Block,Latitude,Longitude,City
0,2020-01-08 22:30:00,3.0,BATTERY - SIMPLE ASSAULT,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978,Los Angeles
1,2020-01-01 03:30:00,1.0,BATTERY - SIMPLE ASSAULT,SIDEWALK,700 S HILL ST,34.0459,-118.2545,Los Angeles
2,2020-01-01 17:30:00,15.0,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019,Los Angeles
3,2020-01-01 04:15:00,19.0,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468,Los Angeles
4,2020-01-01 00:30:00,1.0,"RAPE, FORCIBLE",NIGHT CLUB (OPEN EVENINGS ONLY),700 S BROADWAY,34.0452,-118.2534,Los Angeles

In [ ]:
la_crime_df.dtypes

Date Incident Occured    datetime64[ns]
AREA                            float64
Crime Description                object
Location Description             object
Block                            object
Latitude                        float64
Longitude                       float64
City                             object
dtype: object

In [ ]:
la_crime_df.to_csv('LA - Cleaneddata.csv')

##chicago dataset cleaning

In [ ]:
from botocore.exceptions import ClientError

try:
  s3.download_file('crimes-input-bucket', 'Chicago_dataset_desk.csv', 'Chicago_dataset_desk.csv') 
  print('success') 
except ClientError as e:
  if e.response['Error']['Code'] == "404":
    print("The object does not exist.")
  else:
    raise

success

In [ ]:
#importing required libraries
import numpy as np

In [ ]:
#read the chicago dataset
df_chicago = pd.read_csv('Chicago_dataset_desk.csv')

#  NEW SECTION

In [ ]:
len(df_chicago)

7527357

In [ ]:
df_chicago.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"

In [ ]:
#dropping unwanted columns
df_chicago.drop(columns=['Case Number', 'IUCR','FBI Code','Arrest','Domestic','Beat','Updated On','X Coordinate', 'Y Coordinate','Location','Ward','Community Area','District'], inplace=True)

In [ ]:
#check the columns which has missing values
df_chicago.isnull().sum()

ID                          0
Date                        0
Block                       0
Primary Type                0
Description                 0
Location Description     9164
Year                        0
Latitude                78937
Longitude               78937
dtype: int64

### Missing Values check
#### Getting the count of missing values column and deciding on whether to drop it or manipulate it

In [ ]:
#checking the rows which has null values for location description
df_chicago[df_chicago['Location Description'].isna()]

,ID,Date,Block,Primary Type,Description,Location Description,Year,Latitude,Longitude
9,11645836,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2016,NaN,NaN
444,11645833,05/05/2012 12:25:00 PM,057XX W OHIO ST,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2012,NaN,NaN
633,11227633,12/28/2017 03:55:00 PM,011XX S MICHIGAN AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2017,NaN,NaN
848,11042759,07/08/2013 04:10:00 PM,056XX N KENMORE AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2013,NaN,NaN
944,11223717,02/04/2018 03:25:00 PM,044XX W WASHINGTON BLVD,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2018,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7526895,12678723,04/04/2022 05:25:00 PM,102XX S SEELEY AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2022,NaN,NaN
7527076,12678718,04/11/2022 07:55:00 AM,060XX S FAIRFIELD AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2022,NaN,NaN
7527274,12677845,04/08/2022 12:00:00 AM,019XX W IRVING PARK RD,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2022,41.954178,-87.677034
7527297,12678731,12/29/2021 12:00:00 AM,007XX N Larrabee ST,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2021,NaN,NaN
7527312,12678726,11/01/2021 12:00:00 AM,096XX S DAMEN AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2021,NaN,NaN

In [ ]:
#checking the rows which has null values for Latitude
df_chicago[df_chicago['Latitude'].isna()]

,ID,Date,Block,Primary Type,Description,Location Description,Year,Latitude,Longitude
2,11646166,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,THEFT,OVER $500,RESIDENCE,2018,NaN,NaN
9,11645836,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2016,NaN,NaN
54,11645527,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,2015,NaN,NaN
84,11034701,01/01/2001 11:00:00 AM,016XX E 86TH PL,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,2001,NaN,NaN
158,11645648,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,2018,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7527327,12678572,03/04/2022 08:26:00 AM,078XX S SPAULDING AVE,DECEPTIVE PRACTICE,FORGERY,DAY CARE CENTER,2022,NaN,NaN
7527335,12678376,03/01/2021 08:00:00 AM,040XX W CULLERTON ST,ASSAULT,SIMPLE,APARTMENT,2021,NaN,NaN
7527343,12679054,04/04/2022 12:00:00 AM,013XX N KILDARE AVE,THEFT,OVER $500,APARTMENT,2022,NaN,NaN
7527348,12678460,04/02/2022 12:45:00 PM,062XX N FAIRFIELD AVE,THEFT,$500 AND UNDER,RESIDENCE - GARAGE,2022,NaN,NaN
7527351,12678502,01/01/2022 12:00:00 PM,017XX E 67TH ST,THEFT,OVER $500,APARTMENT,2022,NaN,NaN

In [ ]:
#checking the rows which has null values for Longitude
df_chicago[df_chicago['Longitude'].isna()]

,ID,Date,Block,Primary Type,Description,Location Description,Year,Latitude,Longitude
2,11646166,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,THEFT,OVER $500,RESIDENCE,2018,NaN,NaN
9,11645836,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,2016,NaN,NaN
54,11645527,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,2015,NaN,NaN
84,11034701,01/01/2001 11:00:00 AM,016XX E 86TH PL,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,2001,NaN,NaN
158,11645648,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,2018,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7527327,12678572,03/04/2022 08:26:00 AM,078XX S SPAULDING AVE,DECEPTIVE PRACTICE,FORGERY,DAY CARE CENTER,2022,NaN,NaN
7527335,12678376,03/01/2021 08:00:00 AM,040XX W CULLERTON ST,ASSAULT,SIMPLE,APARTMENT,2021,NaN,NaN
7527343,12679054,04/04/2022 12:00:00 AM,013XX N KILDARE AVE,THEFT,OVER $500,APARTMENT,2022,NaN,NaN
7527348,12678460,04/02/2022 12:45:00 PM,062XX N FAIRFIELD AVE,THEFT,$500 AND UNDER,RESIDENCE - GARAGE,2022,NaN,NaN
7527351,12678502,01/01/2022 12:00:00 PM,017XX E 67TH ST,THEFT,OVER $500,APARTMENT,2022,NaN,NaN

#### Since the rows with null location description,latitude and longitude involve more than one type of crime description and block values, it is ideal to drop these rows

In [ ]:
df_chicago = df_chicago.dropna(subset=['Location Description', 'Latitude','Longitude'])

In [ ]:
#check the columns which has missing values
df_chicago.isnull().sum()

ID                      0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    0
Year                    0
Latitude                0
Longitude               0
dtype: int64

In [ ]:
len(df_chicago)

7442559

### Checking irrelevant data in columns
#### The column 'Primary Type' contains few irrelevant values which have same meaning but represented differenly
##### 1. NON-CRIMINAL and NON - CRIMINAL
##### 2. CRIM SEXUAL ASSAULT and CRIMINAL SEXUAL ASSAULT

In [ ]:
df_chicago['Primary Type'].value_counts()

THEFT                                1564233
BATTERY                              1374862
CRIMINAL DAMAGE                       853731
NARCOTICS                             730896
ASSAULT                               483346
OTHER OFFENSE                         464631
BURGLARY                              415021
MOTOR VEHICLE THEFT                   345535
DECEPTIVE PRACTICE                    305420
ROBBERY                               281487
CRIMINAL TRESPASS                     208741
WEAPONS VIOLATION                      96891
PROSTITUTION                           68876
PUBLIC PEACE VIOLATION                 51297
OFFENSE INVOLVING CHILDREN             50043
SEX OFFENSE                            27626
CRIM SEXUAL ASSAULT                    26266
INTERFERENCE WITH PUBLIC OFFICER       17841
LIQUOR LAW VIOLATION                   14541
GAMBLING                               14510
ARSON                                  12713
HOMICIDE                               11826
KIDNAPPING                              7040
INTIMIDATION                            4413
CRIMINAL SEXUAL ASSAULT                 4269
STALKING                                4228
CONCEALED CARRY LICENSE VIOLATION        894
OBSCENITY                                733
PUBLIC INDECENCY                         188
NON-CRIMINAL                             169
OTHER NARCOTIC VIOLATION                 138
HUMAN TRAFFICKING                         83
NON - CRIMINAL                            38
RITUALISM                                 23
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: Primary Type, dtype: int64

#### Changing primary type value "NON - CRIMINAL" to "NON-CRIMINAL" and "CRIM SEXUAL ASSAULT" to "CRIMINAL SEXUAL ASSAULT "

In [ ]:
#Changing primary type value "NON - CRIMINAL" to "NON-CRIMINAL"
irrelavent_offence_type_NC = df_chicago.loc[(df_chicago['Primary Type'] == 'NON - CRIMINAL')].index
df_chicago.loc[irrelavent_offence_type_NC,'Primary Type'] = 'NON-CRIMINAL'
#Changing primary type value "CRIM SEXUAL ASSAULT" to "CRIMINAL SEXUAL ASSAULT "
irrelavent_offence_type_CSA = df_chicago.loc[(df_chicago['Primary Type'] == 'CRIM SEXUAL ASSAULT')].index
df_chicago.loc[irrelavent_offence_type_CSA,'Primary Type'] = 'CRIMINAL SEXUAL ASSAULT'

In [ ]:
#irrelavent_offence_type_NC = df_chicago.loc[df_chicago['Primary Type'] == 'NON - CRIMINAL', :] better way to avoid chained indexing

In [ ]:
df_chicago['Primary Type'].value_counts()

THEFT                                1564233
BATTERY                              1374862
CRIMINAL DAMAGE                       853731
NARCOTICS                             730896
ASSAULT                               483346
OTHER OFFENSE                         464631
BURGLARY                              415021
MOTOR VEHICLE THEFT                   345535
DECEPTIVE PRACTICE                    305420
ROBBERY                               281487
CRIMINAL TRESPASS                     208741
WEAPONS VIOLATION                      96891
PROSTITUTION                           68876
PUBLIC PEACE VIOLATION                 51297
OFFENSE INVOLVING CHILDREN             50043
CRIMINAL SEXUAL ASSAULT                30535
SEX OFFENSE                            27626
INTERFERENCE WITH PUBLIC OFFICER       17841
LIQUOR LAW VIOLATION                   14541
GAMBLING                               14510
ARSON                                  12713
HOMICIDE                               11826
KIDNAPPING                              7040
INTIMIDATION                            4413
STALKING                                4228
CONCEALED CARRY LICENSE VIOLATION        894
OBSCENITY                                733
NON-CRIMINAL                             207
PUBLIC INDECENCY                         188
OTHER NARCOTIC VIOLATION                 138
HUMAN TRAFFICKING                         83
RITUALISM                                 23
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: Primary Type, dtype: int64

### Changing date format in our dataset

In [ ]:
df_chicago.Date = pd.to_datetime(df_chicago.Date)

In [ ]:
df_chicago.dtypes

ID                               int64
Date                    datetime64[ns]
Block                           object
Primary Type                    object
Description                     object
Location Description            object
Year                             int64
Latitude                       float64
Longitude                      float64
dtype: object

### Standardizing Column Values

#### Standardizing values in "Block" column

In [ ]:
df_chicago.Block.head() #We can see 'X' in many places so to make it more standardize we split the data

0        043XX S WOOD ST
1    008XX N CENTRAL AVE
3      035XX W BARRY AVE
4    0000X N LARAMIE AVE
5    082XX S LOOMIS BLVD
Name: Block, dtype: object

In [ ]:
df_chicago['Block'] = df_chicago['Block'].apply(lambda row: row.split('X')[-1])
df_chicago['Block'] = df_chicago['Block'].apply(lambda row: row.strip())

In [ ]:
df_chicago.Block.head()

0        S WOOD ST
1    N CENTRAL AVE
3      W BARRY AVE
4    N LARAMIE AVE
5    S LOOMIS BLVD
Name: Block, dtype: object

In [ ]:
df_chicago.head()

,ID,Date,Block,Primary Type,Description,Location Description,Year,Latitude,Longitude
0,10224738,2015-09-05 13:30:00,S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,2015,41.815117,-87.670000
1,10224739,2015-09-04 11:30:00,N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,2015,41.895080,-87.765400
3,10224740,2015-09-05 12:45:00,W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,2015,41.937406,-87.716650
4,10224741,2015-09-05 13:00:00,N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,2015,41.881903,-87.755121
5,10224742,2015-09-05 10:55:00,S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,2015,41.744379,-87.658431

In [ ]:
df_chicago['City'] = "Chicago"

In [ ]:
df_chicago

,ID,Date,Block,Primary Type,Description,Location Description,Year,Latitude,Longitude,City
0,10224738,2015-09-05 13:30:00,S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,2015,41.815117,-87.670000,Chicago
1,10224739,2015-09-04 11:30:00,N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,2015,41.895080,-87.765400,Chicago
3,10224740,2015-09-05 12:45:00,W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,2015,41.937406,-87.716650,Chicago
4,10224741,2015-09-05 13:00:00,N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,2015,41.881903,-87.755121,Chicago
5,10224742,2015-09-05 10:55:00,S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,2015,41.744379,-87.658431,Chicago
...,...,...,...,...,...,...,...,...,...,...
7527352,12674753,2022-04-17 17:00:00,S KEDZIE AVE,BATTERY,DOMESTIC BATTERY SIMPLE,PARK PROPERTY,2022,41.770612,-87.702949,Chicago
7527353,12673460,2022-04-17 01:30:00,S MICHIGAN AVE,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,2022,41.850656,-87.623749,Chicago
7527354,12677641,2022-04-16 14:30:00,W 66TH ST,BURGLARY,FORCIBLE ENTRY,APARTMENT,2022,41.774386,-87.637462,Chicago
7527355,12673187,2022-04-17 14:38:00,S GREEN ST,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,APARTMENT,2022,41.767957,-87.645709,Chicago
7527356,12672905,2022-04-17 10:30:00,S KARLOV AVE,THEFT,$500 AND UNDER,RESIDENCE,2022,41.871131,-87.727803,Chicago

In [ ]:
df_chicago.rename(columns = {'Description':'Crime Description'}, inplace = True)

In [ ]:
del df_chicago['ID']

In [ ]:
df_chicago.rename(columns = {'Date':'Date Incident Occured'}, inplace = True)

In [ ]:
del df_chicago['Year']

In [ ]:
df_chicago.head()

,Date Incident Occured,Block,Primary Type,Crime Description,Location Description,Latitude,Longitude,City
0,2015-09-05 13:30:00,S WOOD ST,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,41.815117,-87.670000,Chicago
1,2015-09-04 11:30:00,N CENTRAL AVE,THEFT,POCKET-PICKING,CTA BUS,41.895080,-87.765400,Chicago
3,2015-09-05 12:45:00,W BARRY AVE,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,41.937406,-87.716650,Chicago
4,2015-09-05 13:00:00,N LARAMIE AVE,ASSAULT,SIMPLE,APARTMENT,41.881903,-87.755121,Chicago
5,2015-09-05 10:55:00,S LOOMIS BLVD,BURGLARY,FORCIBLE ENTRY,RESIDENCE,41.744379,-87.658431,Chicago

In [ ]:
df_chicago.dtypes

Date Incident Occured    datetime64[ns]
Block                            object
Primary Type                     object
Crime Description                object
Location Description             object
Latitude                        float64
Longitude                       float64
City                             object
dtype: object

In [ ]:
df_chicago.to_csv('Chicago - cleaneddata1.csv')

##MERGING BOTH DATASETS

In [ ]:
clean_datasets = pd.concat(
    map(pd.read_csv, ['Chicago - cleaneddata1.csv', 'LA - Cleaneddata.csv']), ignore_index=True)
print('Total cleaned records ',clean_datasets.shape)
clean_datasets.to_csv('Total_merged_file.csv')

Total cleaned records  (10015805, 10)

In [ ]:
# uploading the combined dataset to crimes-output-bucket
s3.upload_file('Total_merged_file.csv', 'crimes-output-bucket', 'Total_merged_file.csv')
# s3.Bucket('crimes-output-bucket').upload_file('LA - Cleaneddata.csv', 'LA - Cleaneddata1.csv')

##DATA CLEANING ON MERGED FILE

In [ ]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.22.2-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 7.1 MB/s
Collecting botocore<1.26.0,>=1.25.2
  Downloading botocore-1.25.2-py3-none-any.whl (8.7 MB)
     |████████████████████████████████| 8.7 MB 15.2 MB/s
Collecting s3transfer<0.6.0,>=0.5.0
  Downloading s3transfer-0.5.2-py3-none-any.whl (79 kB)
     |████████████████████████████████| 79 kB 6.7 MB/s
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.0-py3-none-any.whl (23 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.26.0,>=1.25.2->boto3) (2.8.2)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 55.4 MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.26.0,>=1.25.2->boto3) (1.15.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.9 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed boto3-1.22.2 botocore-1.25.2 jmespath-1.0.0 s3transfer-0.5.2 urllib3-1.26.9

In [ ]:
import boto3
BUCKET_NAME='crimes-input-bucket'
# enter authentication credentials
s3 = boto3.client('s3', aws_access_key_id = 'AKIAQDP7YLM325XD5ITG', 
                          aws_secret_access_key= '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')

In [ ]:
from botocore.exceptions import ClientError

try:
  s3.download_file('crimes-output-bucket', 'cleaned_crime_data.csv', 'cleaned_crime_data.csv')
  print('success') 
except ClientError as e:
  if e.response['Error']['Code'] == "404":
    print("The object does not exist.")
  else:
    raise

success

In [ ]:
import pandas as pd

df = pd.read_csv('cleaned_crime_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Date Incident Occured,AREA,Crime Description,Location Description,Block,Latitude,Longitude,City,Primary Type
0,0,0,2020-01-08 22:30:00,3.0,BATTERY - SIMPLE ASSAULT,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978,Los Angeles,NaN
1,1,1,2020-01-01 03:30:00,1.0,BATTERY - SIMPLE ASSAULT,SIDEWALK,700 S HILL ST,34.0459,-118.2545,Los Angeles,NaN
2,2,2,2020-01-01 17:30:00,15.0,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019,Los Angeles,NaN
3,3,3,2020-01-01 04:15:00,19.0,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468,Los Angeles,NaN
4,4,4,2020-01-01 00:30:00,1.0,"RAPE, FORCIBLE",NIGHT CLUB (OPEN EVENINGS ONLY),700 S BROADWAY,34.0452,-118.2534,Los Angeles,NaN

In [ ]:
df.dtypes

Unnamed: 0                        int64
Unnamed: 0.1                      int64
Date Incident Occured    datetime64[ns]
AREA                            float64
Crime Description                object
Location Description             object
Block                            object
Latitude                        float64
Longitude                       float64
City                             object
Primary Type                     object
dtype: object

In [ ]:
df['Date Incident Occured'] = pd.to_datetime(df['Date Incident Occured'])

In [ ]:
df.drop(['Unnamed: 0','Unnamed: 0.1','AREA'],axis=1,inplace=True)

In [ ]:
df_la = df[df['City'] == 'Los Angeles']

In [ ]:
df_ch = df[df['City'] == 'Chicago']

In [ ]:
df_ch['Crime Description'] = df_ch['Primary Type'] + ' - ' + df_ch['Crime Description']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_ch.head()

,Date Incident Occured,Crime Description,Location Description,Block,Latitude,Longitude,City,Primary Type
2573246,2015-09-05 13:30:00,BATTERY - DOMESTIC BATTERY SIMPLE,RESIDENCE,S WOOD ST,41.815117,-87.670000,Chicago,BATTERY
2573247,2015-09-04 11:30:00,THEFT - POCKET-PICKING,CTA BUS,N CENTRAL AVE,41.895080,-87.765400,Chicago,THEFT
2573248,2015-09-05 12:45:00,NARCOTICS - POSS: HEROIN(BRN/TAN),SIDEWALK,W BARRY AVE,41.937406,-87.716650,Chicago,NARCOTICS
2573249,2015-09-05 13:00:00,ASSAULT - SIMPLE,APARTMENT,N LARAMIE AVE,41.881903,-87.755121,Chicago,ASSAULT
2573250,2015-09-05 10:55:00,BURGLARY - FORCIBLE ENTRY,RESIDENCE,S LOOMIS BLVD,41.744379,-87.658431,Chicago,BURGLARY

In [ ]:
df_main = pd.concat([df_la,df_ch])

In [ ]:
df_main.drop('Primary Type',axis=1,inplace=True)

In [ ]:
df_main.head()

,Date Incident Occured,Crime Description,Location Description,Block,Latitude,Longitude,City
0,2020-01-08 22:30:00,BATTERY - SIMPLE ASSAULT,SINGLE FAMILY DWELLING,1100 W 39TH PL,34.0141,-118.2978,Los Angeles
1,2020-01-01 03:30:00,BATTERY - SIMPLE ASSAULT,SIDEWALK,700 S HILL ST,34.0459,-118.2545,Los Angeles
2,2020-01-01 17:30:00,VANDALISM - MISDEAMEANOR ($399 OR UNDER),"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,34.1685,-118.4019,Los Angeles
3,2020-01-01 04:15:00,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",BEAUTY SUPPLY STORE,14400 TITUS ST,34.2198,-118.4468,Los Angeles
4,2020-01-01 00:30:00,"RAPE, FORCIBLE",NIGHT CLUB (OPEN EVENINGS ONLY),700 S BROADWAY,34.0452,-118.2534,Los Angeles

In [ ]:
df_main.dtypes

Date Incident Occured    datetime64[ns]
Crime Description                object
Location Description             object
Block                            object
Latitude                        float64
Longitude                       float64
City                             object
dtype: object

In [ ]:
df_main.to_csv("crime_data_final.csv")

In [ ]:
s3.upload_file('crime_data_final.csv', 'crimes-output-bucket', 'crime_data_final.csv')